---
layout: default
---
<article class="content post">

<ul class="grid-container">
  <li class="grid-item">
    <div>
      <a class="grid-link" href="https://www.aplusplatform.com/">
        <img src="https://github.com/IgorVieira/igorvieira.github.io/blob/master/_images/aplus.png?raw=true" alt="">
      </a>
    </div>
    <div>
      <h3>APlus Platform</h3>
      <hr>
      <p class="grid-item-description">E-learning Platform, a new way for understand new perspectives.</p>
    </div>
  </li>
  <li class="grid-item">
    <div>
      <a class="grid-link" href="https://www.lett.com.br/">
        <img src="https://github.com/IgorVieira/igorvieira.github.io/blob/master/_images/lett.png?raw=true" alt="">
      </a>
    </div>
    <div>
      <h3>Lett Insights</h3>
      <hr>
      <p class="grid-item-description">Auditing and monitoring of e-commerce
          for retailers and manufacturers with
          unique and segmented in real time.</p>
    </div>
  </li>
  <li class="grid-item">
    <div>
      <a class="grid-link" href="https://centralcm42-hotsite.herokuapp.com/">
        <img src="https://github.com/IgorVieira/igorvieira.github.io/blob/master/_images/central.png?raw=true" alt="">
      </a>
    </div>
    <div>
      <h3>Central</h3>
      <hr>
      <p class="grid-item-description">CM42 Central is an application to provide a user story based backlog management system for agile development teams.</p>
    </div>
  </li>
  <li class="grid-item">
    <div>
      <a class="grid-link" href="https://omnitrade.io/">
        <img src="https://github.com/IgorVieira/igorvieira.github.io/blob/master/_images/minerx.png?raw=true" alt="">
      </a>
    </div>
    <div>
      <h3>Omnitrade</h3>
      <hr>
      <p class="grid-item-description">
          The best, auto-scalable, and secure infrastructure using Google Cloud Kubernetes Engine and other industry's best services 
      </p>
    </div>
  </li>
</ul>

</article>
